{{ 'component-cart.css' | asset_url | stylesheet_tag }}
{{ 'component-cart-items.css' | asset_url | stylesheet_tag }}
{{ 'component-totals.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}
{{ 'component-discounts.css' | asset_url | stylesheet_tag }}
{{ 'component-loading-overlay.css' | asset_url | stylesheet_tag }}
{{ 'section-bestsellers.css' | asset_url | stylesheet_tag }}
{{ 'component-rebuy.css' | asset_url | stylesheet_tag }}
{% capture sku_list %}
  tch-8719325725131
  tch-8719325725155
  tch-8719325725162
  tch-8719325725179
  tch-8719325725186
  tch-8719325725193
  tch-8719325725216
  tch-8719325725230
  tch-8719325725247
  tch-8719325725254
  ful2-Ch.l.GWo;KL;100/125
  ful2-Ch.l.GWo;KL;125/150-S
  ful2-Ch.l.GWo;KL;150/175
  ful2-Ch.l.GWo;KL;175/200-S
  ful2-Ch.l.GWo;KL;200/225-S
  ful2-Th.o.Hol;KL;100/125
  ful2-Th.o.Hol;KL;125/150
  ful2-Th.o.Hol-C-150 - 175 cm
  ful2-Th.o.Hol-C-175 - 200 cm
  ful2-Th.o.Hol-C-200 - 225 cm
  ful2-Th.o.Hol-C-225 - 250 cm
  ful2-Th.o.Hol-C-250 - 300 cm
  ful2-Ch.l.Ivo;KL;100/125
  ful2-Ch.l.Ivo;KL;125/150
  ful2-Ch.l.Ivo;KL;150/175
  ful2-Ch.l.Ivo;KL;175/200
  ful2-Ch.l.Ivo;KL;200/225
  ful2-Ch.l.Col;KL;100/125
  bie-Ch.l.Col;KL;125/150|bkh-S
  ful2-Ch.l.Col;KL;150/175
  ful2-Ch.l.Col;KL;175/200
  ful2-Cu.l.GRi;KL;100/125
  ful2-Cu.l.GRi;KL;125/150|bkh-S
  ful2-Cu.l.GRi-C-150 - 175 cm
  ful2-Cu.l.GRi-C-175 - 200 cm
  ful2-Cu.l.GRi-C-200 - 225 cm
  ful2-Cu.l.GRi-C-225 - 250 cm
  tch-8720663557247
  tch-8720663557254
  tch-8720663557261
  tch-8720663557278
  tch-8720663557285
  ful2-Ch.l.Sta;KL;100/125
  ful2-Ch.l.Sta;KL;125/150
  ful2-Ch.l.Sta;KL;150/175
  ful2-Ch.l.Sta;KL;175/200
  ful2-Ch.l.Sta;KL;200/225
  tch-1-8720663557285
  tch-1-8720663557278
  tch-1-8720663557261
  tch-1-8720663557254
  tch-1-8720663557247
  ful2-Ch.l.WSp;100/125
  ful2-Ch.l.WSp;125/150
  ful2-Ch.l.WSp;150/175-S
  ful2-Ch.l.WSp;175/200-S
  ful2-Ch.l.WSp;200/225-S
  ful2-Th.o.YRi;KL;100/125
  ful2-Th.o.YRi;KL;125/150
  ful2-Th.o.YRi;KL;150/175
  ful2-Th.o.YRi;KL;175/200
  ful2-Th.o.YRi;KL;200/225
  tch-8719325725261
  tch-8719325725278
  tch-8719325725285
  ful2-Ch.l.Ilo;KL;100/125-S
  ful2-Ch.l.Ilo;KL;125/150-S
  ful2-Ch.l.Ilo;KL;150/175
  ful2-Ch.l.Ilo;KL;175/200
  ful2-Ch.l.Ilo;KL;200/225
  ful2-Th.p.Mar;KL;100/125
  ful2-Th.p.Mar;KL;125/150
  ful2-Th.p.Mar;KL;150/175
  ful2-Th.p.Mar;KL;175/200
  ful2-Th.p.Mar;KL;200/225
  ful2-Th.p.Atr;kl;100/125
  ful2-Th.p.Atr;kl;125/150
  ful2-Th.p.Atr;kl;150/175
  ful2-Th.p.Atr;kl;175/200
  ful2-Th.p.Atr;kl;200/225
  ful2-Th.p.Atr;kl;225/250
  ful2-Th.p.Atr;kl;250/300
  ful2-Cu.l.CGo;KL;100/125
  ful2-Cu.l.CGo;KL;125/150
  ful2-Cu.l.CGo;KL;150/175
  ful2-Cu.l.CGo;KL;175/200
  ful2-Cu.l.CGo-C-200 - 225 cm
  ful2-Cu.l.CGo-C-225 - 250 cm
  ful2-Th.o.Fri;KL100/125
  ful2-Th.o.Fri;KL;125/150
  ful2-Th.o.Fri;KL;150/175
  ful2-Th.o.Fri;KL;175/200
  ful2-Th.o.Fri;KL;200/225
  ful2-Th.o.Fri;KL225/250
  ful2-Th.o.Fri;KL250/300
  ful2-Th.p.Gel;kl;100/125
  ful2-Th.p.Gel;kl;125/150
  ful2-Th.p.Gel;kl;150/175
  ful2-Th.p.Gel;kl;175/200
  ful2-Th.p.Gel;kl;200/225
  ful2-Th.p.Gel;kl;225/250
  ful2-Th.p.Gel;kl;250/300
  tch-8719325725421
  tch-8719325725438
  tch-8719325725445
  tch-8719325725452
  tch-8720663554482
  tch-8719325725377
  tch-8719325725384
  tch-8719325725391
  tch-8719325725407
  tch-8719325725476
  tch-8719325725490
  tch-8719325725506
  tch-8719325725513
  tch-8720663555564
  tch-8720663555571
  tch-8720663555588
  ful2-Pr.l.Cau;100/125
  ful2-Pr.l.Cau;125/150
  ful2-Pr.l.Cau;150/175
  ful2-Pr.l.Cau;175/200
  ful2-Pr.l.VNe;KL;100/125|bkh-S
  ful2-Pr.l.Her;KL;100/125
  ful2-Pr.l.Her;KL;125/150
  ful2-Li.Ova-C-150 - 175 cm in pot
  ful2-Li.Ova-C-175 - 200 cm in pot
  ful2-Li.Ova-C-200 - 225 cm in pot
  ful2-Li.Vul-C-150 - 175 cm in pot
  ful2-Li.Vul-C-175 - 200 cm in pot
  ful2-Li.Vul-C-200 - 225 cm in pot
  bie-Car.bet;175-200
  bie-Car.bet;200-225
  ful2-Car.bet-C-225 - 250 cm
  bie-Fa.s.Atr;175-200
  ful2-Fa.s.Atr-C-200 - 225 cm
  ful2-Fa.s.Atr-C-225 - 250 cm
  bie-Fag.syl;150-175
  bie-Fag.syl;175-200
  bie-Fag.syl;200-225
  tch-8719325725322
  tch-8720174424601
  tch-8720174424618
  bie-Il.aqu;KL;100/125-S
  bie-Il.aqu;KL;125/150-S
  bie-Il.aqu;KL;150/175-S
  bie-Il.aqu-C-175 - 200 cm
  bie-Bux.sem-C-80 - 100 cm in pot
{% endcapture %}
{%- unless settings.cart_type == 'drawer' -%}
  <script src="{{ 'cart.js' | asset_url }}" defer="defer"></script>
{%- endunless -%}

<cart-items class="page-width">
  <div class="title-wrapper-with-link cart-header--container">
    <h1 class="title title--primary cart-header">{{ 'sections.cart.title' | t }}</h1>
    <a href="{{ routes.all_products_collection_url }}" class="link">{{ 'general.continue_shopping' | t }}</a>
  </div>

  <div class="cart__warnings">
    <h1 class="cart__empty-text">{{ 'sections.cart.empty' | t }}</h1>
    <a href="{{ routes.all_products_collection_url }}" class="button">
      {{ 'general.continue_shopping' | t }}
    </a>

    {%- if shop.customer_accounts_enabled and customer == nil -%}
      <h2 class="cart__login-title">{{ 'sections.cart.login.title' | t }}</h2>
      <p class="cart__login-paragraph">
        {{ 'sections.cart.login.paragraph_html' | t: link: routes.account_login_url }}
      </p>
    {%- endif -%}
  </div>

  <form action="{{ routes.cart_url }}" class="cart__contents critical-hidden" method="post" id="cart">
    <div class="cart__items" id="main-cart-items" data-id="{{ section.id }}">
      <div class="js-contents">
        {%- if cart != empty -%}
          <table class="cart-items main-cart-items">
            <caption class="visually-hidden">{{ 'sections.cart.title' | t }}</caption>
            <tbody>
              {{ item.product.vendor }}
              {%- for item in cart.items -%}
                <tr data-hulkapps-lineitem class="cart-item shadow cart-page-item_info" id="CartItem-{{ item.index | plus: 1 }}">
                  <td class="cart-item__media">
                    {% if item.image %}
                      {% comment %} Leave empty space due to a:empty CSS display: none rule {% endcomment %}
                      <a href="{{ item.url }}" class="cart-item__link" aria-hidden="true" tabindex="-1"> </a>
                        <div class="cart-item__image-container gradient global-media-settings">
                          <img src="{{ item.image | image_url: width: 300 }}"
                            class="cart-item__image"
                            alt="{{ item.image.alt | escape }}"
                            loading="lazy"
                            width="150"
                            height="{{ 150 | divided_by: item.image.aspect_ratio | ceil }}"
                          >
                        </div>
                    {% endif %}
                  </td>
                  <td class="cart-item__details">
                    <span class="cart-item__details-sku hidden">{{ item.sku }}</span>
                    {%- if settings.show_vendor -%}
                      <p class="caption-with-letter-spacing">{{ item.product.vendor }}</p>
                    {%- endif -%}

                    <a href="{{ item.url }}" class="cart-item__name h4 break">{{ item.product.title | escape }}</a>

                    {%- if item.product.has_only_default_variant == false or item.properties.size != 0 or item.selling_plan_allocation != nil -%}
                      <dl>
                        {%- if item.product.has_only_default_variant == false -%}
                          {%- for option in item.options_with_values -%}
                            <div class="product-option">
                              <dd>{{ option.value }}</dd>
                            </div>
                            {%- assign item_sku = item.sku | slice: 0, 3 | escape | downcase | remove: "&nbsp;" -%}

                            {% if item_sku == 'bob' or item_sku == 'tcb' %}
                            <span class="tooltiptext">Um Bäume ordentlich zu liefern, arbeiten wir mit einem speziellen Baumtransporter. Der Lieferzuschlag beträgt 200 Euro pro Bestellung.</span>
                            {% endif %}
                            {% if item_sku == 'mob' %}
                            <span class="tooltiptext">Um Fertighecken ordentlich zu liefern, arbeiten wir mit einem speziellen Fertigenheckentransporter. Der Lieferzuschlag beträgt 175 Euro pro Bestellung.</span>
                            {% endif %}
                          {%- endfor -%}
                        {%- endif -%}

                    <div class='hulkapps-reminder' data-key='{{item.key}}'></div>
                    <span  data-hulkapps-line-properties >
                      {%- for property in item.properties -%}
                        {%- assign property_first_char = property.first | slice: 0 -%}
                        {%- if property.last != blank and property_first_char != '_' -%}
                          <div class="product-option">
                            <dt>{{ property.first }}: </dt>
                            <dd>
                              {%- if property.last contains '/uploads/' -%}
                                <a href="{{ property.last }}" class="link" target="_blank">
                                  {{ property.last | split: '/' | last }}
                                </a>
                              {%- else -%}
                                {{ property.last }}
                              {%- endif -%}
                            </dd>
                          </div>
                        {%- endif -%}
                      {%- endfor -%}
                    </span>
<button type='button' style='display: none;' class='edit_cart_option btn btn--primary button' data-product_id='{{item.product_id}}' data-key='{{item.key}}' data-variant_id='{{item.variant_id}}' data-quantity='{{item.quantity}}'>Edit Options</button>
                    
                      </dl>
                      <p class="product-option">{{ item.selling_plan_allocation.selling_plan.name }}</p>
                    {%- endif -%}

                    <ul class="discounts list-unstyled" role="list" aria-label="{{ 'customer.order.discount' | t }}">
                      {%- for discount in item.discounts -%}
                        <li class="discounts__discount">
                          {%- render 'icon-discount' -%}
                          {{ discount.title }}
                        </li>
                      {%- endfor -%}
                    </ul>
                  </td>
                  <td class="cart-item__totals right medium-hide large-up-hide">
                    <div class="loading-overlay hidden">
                      <div class="loading-overlay__spinner">
                        <svg aria-hidden="true" focusable="false" role="presentation" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                          <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                        </svg>
                      </div>
                    </div>
                    <div class="cart-item__price-wrapper">
                      {%- if item.original_line_price != item.final_line_price -%}
                        <dl class="cart-item__discounted-prices">
                          <dt class="visually-hidden">
                            {{ 'products.product.price.regular_price' | t }}
                          </dt>
                          <dd>
                            <s data-hulkapps-line-price data-key='{{item.key}}' class="cart-item__old-price price price--end">
                              {{ item.original_line_price | money }}
                            </s>
                          </dd>
                          <dt class="visually-hidden">
                            {{ 'products.product.price.sale_price' | t }}
                          </dt>
                          <dd data-hulkapps-line-price data-key='{{item.key}}' class="price price--end">
                            {{ item.final_line_price | money }}
                          </dd>
                        </dl>
                      {%- else -%}
                        <span  data-hulkapps-line-price data-key='{{item.key}}' class="price price--end">
                          {{ item.original_line_price | money }}
                        </span>
                      {%- endif -%}

                      {%- if item.variant.available and item.unit_price_measurement -%}
                        <div class="unit-price caption">
                          <span class="visually-hidden">{{ 'products.product.price.unit_price' | t }}</span>
                          {{ item.variant.unit_price | money }}
                          <span aria-hidden="true">/</span>
                          <span class="visually-hidden">&nbsp;{{ 'accessibility.unit_price_separator' | t }}&nbsp;</span>
                          {%- if item.variant.unit_price_measurement.reference_value != 1 -%}
                            {{- item.variant.unit_price_measurement.reference_value -}}
                          {%- endif -%}
                          {{ item.variant.unit_price_measurement.reference_unit }}
                        </div>
                      {%- endif -%}
                    </div>
                  </td>
                  <td class="cart-item__quantity">
                    <div class="cart-item__quantity-wrapper">
                      <label class="visually-hidden" for="Quantity-{{ item.index | plus: 1 }}">
                        {{ 'products.product.quantity.label' | t }}
                      </label>
                      <quantity-input class="quantity">
                        <button class="quantity__button no-js-hidden" name="minus" type="button">
                          <span class="visually-hidden">{{ 'products.product.quantity.decrease' | t: product: item.product.title | escape }}</span>
                          {% render 'icon-minus' %}
                        </button>
                        {% if sku_list contains item.variant.sku  %}
                        <input class="quantity__input cart-item__quantity-min-specific"
                          type="number"
                          name="updates[]"
                          {% if item.quantity < 5 %}
                          value="5"
                          {% else %}
                          value="{{ item.quantity }}"
                          {% endif %}
                          min="5"
                          aria-label="{{ 'products.product.quantity.input_label' | t: product: item.product.title | escape }}"
                          id="Quantity-{{ item.index | plus: 1 }}"
                          data-index="{{ item.index | plus: 1 }}"
                        >
                        {% else %}
                        <input class="quantity__input"
                          type="number"
                          name="updates[]"
                          value="{{ item.quantity }}"
                          min="0"
                          aria-label="{{ 'products.product.quantity.input_label' | t: product: item.product.title | escape }}"
                          id="Quantity-{{ item.index | plus: 1 }}"
                          data-index="{{ item.index | plus: 1 }}"
                        >
                        {% endif %}
                        <button class="quantity__button no-js-hidden" name="plus" type="button">
                          <span class="visually-hidden">{{ 'products.product.quantity.increase' | t: product: item.product.title | escape }}</span>
                          {% render 'icon-plus' %}
                        </button>
                      </quantity-input>
                    </div>
                  </td>
                  <td class="cart-item__totals right small-hide">
                    <div class="loading-overlay hidden">
                      <div class="loading-overlay__spinner">
                        <svg aria-hidden="true" focusable="false" role="presentation" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                          <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                        </svg>
                      </div>
                    </div>

                    <div class="cart-item__price-wrapper">
                      {%- if item.original_line_price != item.final_line_price -%}
                        <dl class="cart-item__discounted-prices">
                          <dt class="visually-hidden">
                            {{ 'products.product.price.regular_price' | t }}
                          </dt>
                          <dd>
                            <s data-hulkapps-line-price data-key='{{item.key}}' class="cart-item__old-price price price--end">
                              {{ item.original_line_price | money }}
                            </s>
                          </dd>
                          <dt class="visually-hidden">
                            {{ 'products.product.price.sale_price' | t }}
                          </dt>
                          <dd data-hulkapps-line-price data-key='{{item.key}}' class="price price--end">
                            {{ item.final_line_price | money }}
                          </dd>
                        </dl>
                      {%- else -%}

                      {% if item.quantity >= 2 %}
                        <div class="price-total-hulk">
                        <div data-hulkapps-ci-price data-key='{{ item.key }}' class="product-option">
                          {{ item.original_price | money }}
                        </div>
                        <span>/ Stück</span>
                        </div>
                        <span  data-hulkapps-line-price data-key='{{item.key}}' class="price price--end">
                          {{ item.original_line_price | money }}
                        </span>
                      {% else %}
                        <span  data-hulkapps-line-price data-key='{{item.key}}' class="price price--end">
                          {{ item.original_line_price | money }}
                        </span>
                      {% endif %}  
                      {%- endif -%}

                      {%- if item.variant.available and item.unit_price_measurement -%}
                        <div class="unit-price caption">
                          <span class="visually-hidden">{{ 'products.product.price.unit_price' | t }}</span>
                          {{ item.variant.unit_price | money }}
                          <span aria-hidden="true">/</span>
                          <span class="visually-hidden">&nbsp;{{ 'accessibility.unit_price_separator' | t }}&nbsp;</span>
                          {%- if item.variant.unit_price_measurement.reference_value != 1 -%}
                            {{- item.variant.unit_price_measurement.reference_value -}}
                          {%- endif -%}
                          {{ item.variant.unit_price_measurement.reference_unit }}
                        </div>
                      {%- endif -%}
                    </div>
                  </td>
                  <td class="cart-item__messages">
                      {% if sku_list contains item.variant.sku %}
                        <span class="cart-item__messages-min-five"><figure>{%- render 'global-icon' icon: 'exclamation_mark_triangle' %}</figure>Für die gewählte Größe gilt eine Mindestbestellmenge von 5 Stück.</span>
                      {% endif %}
                  </td>
                  <td class="cart-item__remove">
                    <cart-remove-button id="Remove-{{ item.index | plus: 1 }}" data-index="{{ item.index | plus: 1 }}">
                      <a href="{{ item.url_to_remove }}" class="button button--tertiary" aria-label="{{ 'sections.cart.remove_title' | t: title: item.title }}">
                        {% render 'global-icon' icon: 'close' %}
                      </a>
                    </cart-remove-button>
                  </td>

                </tr>

                <tr data-hulkapps-lineitem class="separator" colspan="2" style="height: 10px;"></tr>
              {%- endfor -%}
            </tbody>
          </table>
        {%- endif -%}
      </div>
    </div>

    <p class="visually-hidden" id="cart-live-region-text" aria-live="polite" role="status"></p>
    <p class="visually-hidden" id="shopping-cart-line-item-status" aria-live="polite" aria-hidden="true" role="status">{{ 'accessibility.loading' | t }}</p>
  </form>
</cart-items>

<div class="page-width cart__items-rebuy">
  <div class="cart__items-rebuy--inner">
    <div class="rebuy--upsel-cart" data-rebuy-id="68962" data-rebuy-shopify-product-ids="{{ product.id }}"></div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.main-cart-items.name",
  "class": "main-cart-section",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    }
  ]
}
{% endschema %}