<link rel="stylesheet" href="{{ 'section-round-collections.css' | asset_url }}" media="print" onload="this.media='all'">

<div class="page-width" style="padding-top: {{- section.settings.margin_top -}}px; padding-bottom: {{- section.settings.margin_bottom -}}px;">
  <span class="h2 round-collection-heading">{{ section.settings.heading }}</span>
  <div class="round-collection-container">
  {%- for block in section.blocks -%}
    {%- case block.type -%}
      {%- when 'collection' -%}
        <a class="round-collection" href="{{ block.settings.url }}">
          {%- if block.settings.image != blank -%}
            {{ block.settings.image | image_url: width: 100 | image_url: height: 100 | image_tag:
              loading: 'lazy'
            }}
          {%- else -%}
            <div style="background-color: lightgray; width: 100%; height: 100%;">
              {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
            </div>
          {%- endif -%}
          <span class="round-collection-text">{{ block.settings.collection_name }}</span>
        </a>
    {%- endcase -%}    
  {%- endfor -%}  
  </div>
</div>

{% schema %}
{
  "name": "Rounded collections",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading"
    },
    {
      "type": "header",
      "content": "Set space between blocks"
    },
    {
      "type": "range",
      "id": "margin_top",
      "label": "Margin top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    },
    {
      "type": "range",
      "id": "margin_bottom",
      "label": "Margin bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    }
  ],
  "blocks": [
    {
      "type": "collection",
      "name": "Collection",
      "settings": [
        {
          "type": "url",
          "id": "url",
          "label": "Url"
        },
        {
          "type": "image_picker",
          "id": "image", 
          "label": "Use square image 100x100"
        },
        {
          "type": "text",
          "id": "collection_name",
          "label": "Collection name"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Round collections",
      "blocks": [
      ]
    }
  ]
}
{% endschema %}