<link rel="stylesheet" href="{{ 'component-rte.css' | asset_url }}">
<link rel="stylesheet" href="{{ 'component-usp.css' | asset_url }}">

<noscript>{{ 'component-rte.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-usp.css' | asset_url | stylesheet_tag }}</noscript>

<details class="page-usp usp-mob">
    <summary>
<svg class="icon icon-delivery
 icon-- " xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="presentation" width="24px" height="24" viewBox="0 0 26 26"><defs></defs> <style>
      .st-del-1{stroke-width:8;stroke-linecap:round}.st-del-1,.st-del-2,.st-del-3,.st-del-4{fill:none;stroke:#294c3d;stroke-miterlimit:10}.st-del-2{fill-rule:evenodd;clip-rule:evenodd}.st-del-3,.st-del-4{stroke-linecap:round}.st-del-4{stroke-miterlimit:2}
    </style> <path d="M179.9-480l38.9-2.3 10.1 176.1" class="st-del-1"></path> <circle cx="229" cy="-282.9" r="20" class="st-del-1"></circle> <path d="M248.9-283.9l109.2-6.9M160.5-363.7h50M159.5-322.7h48M139.5-343.7h40M279.3-343.2l9.8 37.4 34.2-2.2 3.6-38.4M330.4-348.6l-54.9 3.6a4.1 4.1 0 01-4.3-3.7l-.7-11a4.1 4.1 0 013.7-4.3l54.9-3.6a4.1 4.1 0 014.3 3.7l.7 11c.2 2.2-1.5 4.2-3.7 4.3zM301.7-365.7l-8.3-124.8M290.6-526.6s39.6 45.5 4.9 74M290.8-526.6s-33.2 50.3 4.9 74M238.4-456.2s60.3.3 58.8 45.1M238.6-456.4s15.9 58.2 58.8 45.1M349.1-454.9s-5 60.1-49.6 55.1M349.3-454.7s-59.3 11.3-49.6 55.1M297.3-413l-26.6-17.8M299.9-401.6l23.6-21.7" class="st-del-1"></path> <g><path d="M69.7-273h-184c-2.2 0-4-1.8-4-4v-184c0-2.2 1.8-4 4-4h184c2.2 0 4 1.8 4 4v184c0 2.2-1.8 4-4 4zM37.7-493.4v58.7M-82.3-493.4v58.7" class="st-del-1"></path></g> <g><path d="M-10.8-366.5h-23c-2.2 0-4-1.8-4-4v-23c0-2.2 1.8-4 4-4h23c2.2 0 4 1.8 4 4v23c0 2.2-1.8 4-4 4zM-10.8-307.4h-23c-2.2 0-4-1.8-4-4v-23c0-2.2 1.8-4 4-4h23c2.2 0 4 1.8 4 4v23c0 2.2-1.8 4-4 4zM-60.8-366.5h-23c-2.2 0-4-1.8-4-4v-23c0-2.2 1.8-4 4-4h23c2.2 0 4 1.8 4 4v23c0 2.2-1.8 4-4 4zM-60.8-307.4h-23c-2.2 0-4-1.8-4-4v-23c0-2.2 1.8-4 4-4h23c2.2 0 4 1.8 4 4v23c0 2.2-1.8 4-4 4z" class="st-del-1"></path> <g><path d="M39.2-366.5h-23c-2.2 0-4-1.8-4-4v-23c0-2.2 1.8-4 4-4h23c2.2 0 4 1.8 4 4v23c0 2.2-1.8 4-4 4zM39.2-307.4h-23c-2.2 0-4-1.8-4-4v-23c0-2.2 1.8-4 4-4h23c2.2 0 4 1.8 4 4v23c0 2.2-1.8 4-4 4z" class="st-del-1"></path></g></g> <g><path fill="#294c3d" fill-rule="evenodd" d="M138.9-161c6.2-.5 12.1-2.9 16.8-7 11-9.4 27.3-9.4 38.3 0 4.7 4 10.6 6.5 16.8 7a29.64 29.64 0 0127.1 27.1c.5 6.2 2.9 12.1 7 16.8 9.4 11 9.4 27.3 0 38.3-4 4.7-6.5 10.6-7 16.8a29.64 29.64 0 01-27.1 27.1c-6.2.5-12.1 2.9-16.8 7-11 9.4-27.3 9.4-38.3 0-4.7-4-10.6-6.5-16.8-7a29.55 29.55 0 01-27-27.1c-.5-6.2-2.9-12.1-7-16.8-9.4-11-9.4-27.3 0-38.3 4-4.7 6.5-10.6 7-16.8a29.46 29.46 0 0127-27.1zm71.7 50.6c3.8-3.8 3.8-9.9 0-13.6a9.54 9.54 0 00-13.6 0l-31.7 31.7-12.4-12.4a9.54 9.54 0 00-13.6 0 9.54 9.54 0 000 13.6l19.3 19.3c3.8 3.8 9.9 3.8 13.6 0l38.4-38.6z" clip-rule="evenodd"></path></g> <g><path d="M-88.1-163c6.2-.5 12.1-2.9 16.8-7 11-9.4 27.3-9.4 38.3 0 4.7 4 10.6 6.5 16.8 7a29.64 29.64 0 0127.1 27.1c.5 6.2 2.9 12.1 7 16.8 9.4 11 9.4 27.3 0 38.3-4 4.7-6.5 10.6-7 16.8a29.46 29.46 0 01-27.1 27c-6.2.5-12.1 2.9-16.8 7-11 9.4-27.3 9.4-38.3 0-4.7-4-10.6-6.5-16.8-7a29.64 29.64 0 01-27.1-27.1c-.5-6.2-2.9-12.1-7-16.8-9.4-11-9.4-27.3 0-38.3 4-4.7 6.5-10.6 7-16.8a29.63 29.63 0 0127.1-27z" class="st-del-2"></path></g> <path d="M-57-43.6l-5.2-77.8M-63.9-143.8s24.7 28.4 3.1 46.1M-63.8-143.8s-20.7 31.4 3.1 46.1" class="st-del-3"></path> <path d="M143.9-98l19.5 19.6L203-118" class="st-del-2"></path> <g><path d="M6.9 5.4l3.4-.2.9 15.7" class="st-del-3"></path> <circle cx="11.2" cy="22.9" r="1.8" class="st-del-3"></circle> <path d="M13 22.8l9.7-.6M5.2 15.8h4.4M5.1 19.4h4.2M3.3 17.5h3.5M15.7 17.6l.9 3.3 3-.2.3-3.4M19.8 17.1l-3.9.3c-.5 0-.9-.3-.9-.8s.3-.9.8-.9l3.9-.3c.5 0 .9.3.9.8s-.4.9-.8.9zM17.7 15.6L17 4.5M16.7 1.3s3.5 4 .4 6.6M16.7 1.3s-3 4.5.4 6.6M12.1 7.5s5.4 0 5.2 4M12.1 7.5s1.4 5.2 5.2 4M21.9 7.7s-.4 5.3-4.4 4.9M21.9 7.7s-5.3 1-4.4 4.9M17.3 11.4l-2.4-1.6M17.5 12.4l2.1-1.9" class="st-del-3"></path></g> <g><path d="M48.5 21.7h-13c-.5 0-1-.5-1-1V7.6c0-.5.5-1 1-1h13.1c.5 0 1 .5 1 1v13.1c-.1.5-.5 1-1.1 1zM46.7 4.3V9M37.3 4.3V9" class="st-del-4"></path> <g><path d="M43.1 14.3h-2.2c-.1 0-.1 0-.1-.1V12c0-.1 0-.1.1-.1h2.2c.1 0 .1 0 .1.1l-.1 2.3c.1 0 .1 0 0 0zM43.1 19h-2.2c-.1 0-.1 0-.1-.1v-2.2c0-.1 0-.1.1-.1h2.2c.1 0 .1 0 .1.1v2.2s0 .1-.1.1zM39.2 14.3H37c-.1 0-.1 0-.1-.1V12c0-.1 0-.1.1-.1h2.2c.1 0 .1 0 .1.1l-.1 2.3c.1 0 0 0 0 0zM39.2 19H37c-.1 0-.1 0-.1-.1v-2.2c0-.1 0-.1.1-.1h2.2c.1 0 .1 0 .1.1v2.2l-.1.1z" class="st-del-3"></path> <g><path d="M47 14.3h-2.2c-.1 0-.1 0-.1-.1V12c0-.1 0-.1.1-.1H47c.1 0 .1 0 .1.1v2.2c0 .1 0 .1-.1.1zM47 19h-2.2c-.1 0-.1 0-.1-.1v-2.2c0-.1 0-.1.1-.1H47c.1 0 .1 0 .1.1v2.2s0 .1-.1.1z" class="st-del-3"></path></g></g></g> <g><path d="M66.4 6.6c.6 0 1.2-.3 1.7-.7 1.1-1 2.8-1 3.9 0 .5.4 1.1.7 1.7.7 1.5.1 2.6 1.3 2.7 2.7.1.6.3 1.2.7 1.7 1 1.1 1 2.8 0 3.9-.4.5-.7 1.1-.7 1.7a2.9 2.9 0 01-2.7 2.7c-.6.1-1.2.3-1.7.7-1.1 1-2.8 1-3.9 0-.5-.4-1.1-.7-1.7-.7a2.9 2.9 0 01-2.7-2.7c0-.6-.3-1.2-.7-1.7-1-1.1-1-2.8 0-3.9.4-.5.7-1.1.7-1.7 0-1.4 1.2-2.6 2.7-2.7z" class="st-del-2"></path> <path fill="none" fill-rule="evenodd" stroke="#294c3d" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2" d="M66.9 12.9L69 15l4.1-4" clip-rule="evenodd"></path></g></svg><p class="page-usp__mob-text">Pflanzen, Bäume &amp; mehr mit schneller Lieferung</p>
        
      <span class="icon icon-chevron">
        <svg viewBox="0 0 50 50"><path style="width:1.6rem;fill:none;stroke:#26473a;stroke-width:5;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10" d="m46 35.4-20.9-21L4 35.6"></path></svg>
        </span>
    </summary>
    <p class="page-usp__blocks rte"></p><p class="mob_info__text"></p><p>Bei Gartencenter.de bestellen Sie <a href="/collections/gartenpflanzen" title="Gartenpflanzen">Gartenpflanzen</a>, <a href="/collections/zimmerpflanzen" title="Zimmerpflanzen">Zimmerpflanzen</a>, <a href="/collections/baeume" title="Bäume">Bäume</a> und mehr mit schneller Lieferung nach Hause.</p><p></p><span class="mob_info__heading"><svg class="icon icon-accordion color-foreground-text" aria-hidden="true" focusable="false" role="presentation" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20"><path d="M0 3.75156C0 3.47454 0.224196 3.24997 0.500755 3.24997H10.647C10.9235 3.24997 11.1477 3.47454 11.1477 3.75156V5.07505V5.63362V6.10938V13.6616C10.9427 14.0067 10.8813 14.1101 10.5516 14.6648L7.22339 14.6646V13.6614H10.1462V4.25316H1.00151V13.6614H2.6842V14.6646H0.500755C0.224196 14.6646 0 14.44 0 14.163V3.75156Z"></path>
      <path d="M18.9985 8.08376L11.1477 6.10938V5.07505L19.6212 7.20603C19.8439 7.26203 20 7.46255 20 7.69253V14.1631C20 14.4401 19.7758 14.6647 19.4992 14.6647H17.3071V13.6615H18.9985V8.08376ZM11.1477 13.6616L13.3442 13.6615L13.3443 14.6647L10.5516 14.6648L11.1477 13.6616Z"></path>
      <path d="M7.71269 14.1854C7.71269 15.6018 6.56643 16.75 5.15245 16.75C3.73847 16.75 2.59221 15.6018 2.59221 14.1854C2.59221 12.7691 3.73847 11.6209 5.15245 11.6209C6.56643 11.6209 7.71269 12.7691 7.71269 14.1854ZM5.15245 15.7468C6.01331 15.7468 6.71118 15.0478 6.71118 14.1854C6.71118 13.3231 6.01331 12.6241 5.15245 12.6241C4.29159 12.6241 3.59372 13.3231 3.59372 14.1854C3.59372 15.0478 4.29159 15.7468 5.15245 15.7468Z"></path>
      <path d="M17.5196 14.1854C17.5196 15.6018 16.3733 16.75 14.9593 16.75C13.5454 16.75 12.3991 15.6018 12.3991 14.1854C12.3991 12.7691 13.5454 11.6209 14.9593 11.6209C16.3733 11.6209 17.5196 12.7691 17.5196 14.1854ZM14.9593 15.7468C15.8202 15.7468 16.5181 15.0478 16.5181 14.1854C16.5181 13.3231 15.8202 12.6241 14.9593 12.6241C14.0985 12.6241 13.4006 13.3231 13.4006 14.1854C13.4006 15.0478 14.0985 15.7468 14.9593 15.7468Z"></path></svg>{{ 'templates.usp_mob.header_1' | t }}</span><p class="mob_info__text"></p><p>{{ 'templates.usp_mob.text_2' | t }}</p><span class="mob_info__heading"><svg class="icon icon-accordion color-foreground-text" aria-hidden="true" focusable="false" role="presentation" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20"><path d="M18.6307 0.0851008C18.9214 0.143319 19.2573 0.251631 19.499 0.483071C19.7487 0.722288 19.8616 1.06444 19.9202 1.35568C19.9821 1.66275 20.0008 2.00418 20 2.32523C19.9986 2.89096 19.9355 3.45932 19.9011 3.76888C19.8965 3.81064 19.8924 3.8477 19.889 3.8794L19.8885 3.88469C19.7574 5.00604 19.5546 6.53586 19.2559 8.16345C18.9577 9.77538 18.5618 11.5447 18.0423 13.1175L18.0415 13.1198C17.54 14.6143 16.835 16.2292 15.7876 17.2779C12.1807 20.8897 6.31722 20.917 2.70668 17.3017C-0.903844 13.6864 -0.876728 7.8151 2.73025 4.20335C3.77726 3.15495 5.37751 2.44898 6.88416 1.94609L6.88527 1.94573C8.4557 1.42559 10.21 1.02928 11.8328 0.73059C13.4582 0.431407 14.986 0.228254 16.1059 0.097027L16.1111 0.0964089C16.1231 0.0951308 16.1358 0.0937998 16.1492 0.09237C16.4416 0.0610531 17.0517 -0.0042707 17.6652 0.000220251C17.9855 0.00256445 18.3248 0.0238389 18.6307 0.0851008ZM16.2207 1.10269C15.114 1.23241 13.6107 1.4325 12.0155 1.72612C10.4166 2.02043 8.71247 2.40674 7.20334 2.90653C5.72522 3.39993 4.31684 4.04614 3.44505 4.91909C0.229287 8.13911 0.209266 13.3695 3.42148 16.5859C6.63368 19.8024 11.8571 19.7822 15.0728 16.5622C15.9442 15.6897 16.5895 14.2687 17.0829 12.7984C17.5818 11.2879 17.9676 9.5703 18.2616 7.98044C18.5549 6.38318 18.7546 4.8779 18.8841 3.76969C18.8878 3.73473 18.8921 3.69563 18.8969 3.65288C18.9315 3.33899 18.9879 2.82875 18.9891 2.32275C18.9898 2.03445 18.9722 1.76875 18.9293 1.5558C18.8832 1.32703 18.8229 1.23626 18.8002 1.21454C18.7694 1.18504 18.6656 1.12434 18.4325 1.07766C18.2146 1.03402 17.9461 1.01452 17.6578 1.01241C17.1035 1.00835 16.5429 1.06826 16.2505 1.09951C16.2402 1.10061 16.2303 1.10167 16.2207 1.10269Z"></path>
      <path d="M19.4297 0.501734C19.6261 0.7004 19.6244 1.02084 19.426 1.21747L0.860985 19.6161C0.662582 19.8127 0.342561 19.811 0.146198 19.6124C-0.0501654 19.4137 -0.0485124 19.0933 0.14989 18.8966L18.7149 0.498038C18.9133 0.301414 19.2334 0.303069 19.4297 0.501734Z"></path>
      <path d="M5.62257 2.4772H6.12801V13.6663H17.3961V14.1724H5.62257V2.4772Z"></path>
      <path d="M10.1879 1.18752H10.6933L10.6933 9.14731H18.7842V9.65342H10.1879L10.1879 1.18752Z"></path></svg>{{ 'templates.usp_mob.header_2' | t }}</span><p class="mob_info__text"></p><p>{{ 'templates.usp_mob.text_3' | t}}</p><p></p><span class="mob_info__heading"><svg class="icon icon-accordion color-foreground-text" aria-hidden="true" focusable="false" role="presentation" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20"><path d="M5.80023 10.2433C5.80023 9.691 6.24795 9.24329 6.80023 9.24329C7.35252 9.24329 7.80023 9.691 7.80023 10.2433C7.80023 10.7956 7.35252 11.2433 6.80023 11.2433C6.24795 11.2433 5.80023 10.7956 5.80023 10.2433Z"></path>
      <path d="M9.22974 10.2433C9.22974 9.691 9.67745 9.24329 10.2297 9.24329C10.782 9.24329 11.2297 9.691 11.2297 10.2433C11.2297 10.7956 10.782 11.2433 10.2297 11.2433C9.67745 11.2433 9.22974 10.7956 9.22974 10.2433Z"></path>
      <path d="M12.6592 10.2433C12.6592 9.691 13.1069 9.24329 13.6592 9.24329C14.2115 9.24329 14.6592 9.691 14.6592 10.2433C14.6592 10.7956 14.2115 11.2433 13.6592 11.2433C13.1069 11.2433 12.6592 10.7956 12.6592 10.2433Z"></path>
      <path d="M16.6445 17.2036C16.6418 17.2023 16.6392 17.2009 16.6365 17.1996C16.3947 17.0764 16.1302 16.9257 15.8701 16.7774C15.2251 16.4099 14.607 16.0576 14.4279 16.1795C13.2314 16.9937 11.7861 17.4696 10.2297 17.4696C6.10323 17.4696 2.75806 14.1244 2.75806 9.99791C2.75806 5.87142 6.10323 2.52625 10.2297 2.52625C14.3562 2.52625 17.7014 5.87142 17.7014 9.99791C17.7014 11.512 17.251 12.9209 16.477 14.0979C16.3445 14.2994 16.6705 14.9403 17.0113 15.6104C17.1583 15.8994 17.308 16.1938 17.4249 16.4607C17.4269 16.4653 17.4289 16.4697 17.4308 16.4742C17.6237 16.9172 17.7239 17.2824 17.5671 17.418C17.4394 17.5544 17.0791 17.4243 16.6445 17.2036ZM18.2593 18.14C17.8792 18.5115 17.4018 18.4853 17.2128 18.461C16.9786 18.4309 16.7562 18.3504 16.587 18.2799C16.2391 18.1348 15.8412 17.9114 15.506 17.7209C15.4611 17.6954 15.4172 17.6704 15.3743 17.6459C15.0837 17.4804 14.8356 17.3391 14.6299 17.2385C13.347 18.0196 11.8396 18.4696 10.2297 18.4696C5.55095 18.4696 1.75806 14.6767 1.75806 9.99791C1.75806 5.31914 5.55095 1.52625 10.2297 1.52625C14.9085 1.52625 18.7014 5.31914 18.7014 9.99791C18.7014 11.5821 18.2656 13.0672 17.5072 14.3369C17.5098 14.3432 17.5125 14.3497 17.5153 14.3564C17.6071 14.5755 17.7411 14.8392 17.8997 15.1513C17.927 15.2049 17.9549 15.2599 17.9835 15.3164C18.1621 15.6689 18.3719 16.0905 18.5003 16.4618C18.5631 16.6435 18.6314 16.8815 18.6427 17.1309C18.6529 17.3561 18.6228 17.7987 18.2593 18.14Z" fill-rule="evenodd"></path></svg>{{ 'templates.usp_mob.header_3' | t }}</span><p class="mob_info__text"></p><p>Benötigen Sie Hilfe? Kontakt per <a href="/pages/kontakt" title="Kontakt">E-Mail</a> und Chat. Während der Bürozeiten. Antwort innerhald eines Werktag.</p><p></p><p></p>
</details>

<ul class="list-unstyled page-usp usp-desk">
    {%- for block in section.blocks -%}
        {%- case block.type -%}
            {% when 'desk_usp'%}
                {%- if block.settings.desk-usp != blank -%}
                    <li> {%- render 'global-icon',
                        icon: 'checkmark'
                    -%} {{ block.settings.desk-usp }}
                    </li>
                {%- endif -%}
        {%- endcase -%}
    {%- endfor -%}
</ul>


{% schema %}
{
    "name": "Page usp's",
    "tag": "section", 
    "class": "section",
    "settings": [
        {
            "type": "header",
            "content": "Mobile"
        },
        {
            "type": "text", 
            "id": "mobile-heading",
            "label": "Mobile header",
            "default": "<p>Pflanzen, Bäume & mehr mit schneller Lieferung</p>",
            "info": "This text shows on mobile"
        }

    ],
    "blocks": [
        {
            "type": "mob_info",
            "name": "Mobile page usp",
            "settings": [
                {
                    "type": "select",
                    "id": "icon",
                    "options": [
                    {
                    "value": "none",
                    "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__1.label"
                    },
                    {
                    "value": "apple",
                    "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__2.label"
                    },
                    {
                    "value": "banana",
                    "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__3.label"
                    },
                    {
                    "value": "bottle",
                    "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__4.label"
                    },
                    {
                    "value": "box",
                    "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__5.label"
                    },
                    {
                    "value": "carrot",
                    "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__6.label"
                    },
                    {
                    "value": "chat_bubble",
                    "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__7.label"
                    },
                    {
                    "value": "check_mark",
                    "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__8.label"
                    },
                    {
                    "value": "clipboard",
                    "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__9.label"
                    },
                    {
                    "value": "dairy",
                    "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__10.label"
                    },
                    {
                    "value": "dairy_free",
                    "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__11.label"
                    },
                    {
                    "value": "dryer",
                    "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__12.label"
                    },
                    {
                    "value": "eye",
                    "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__13.label"
                    },
                    {
                    "value": "fire",
                    "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__14.label"
                    },
                    {
                    "value": "gluten_free",
                    "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__15.label"
                    },
                    {
                    "value": "heart",
                    "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__16.label"
                    },
                    {
                    "value": "iron",
                    "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__17.label"
                    },
                    {
                    "value": "leaf",
                    "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__18.label"
                    },
                    {
                    "value": "leather",
                    "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__19.label"
                    },
                    {
                    "value": "lightning_bolt",
                    "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__20.label"
                    },
                    {
                    "value": "lipstick",
                    "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__21.label"
                    },
                    {
                    "value": "lock",
                    "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__22.label"
                    },
                    {
                    "value": "map_pin",
                    "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__23.label"
                    },
                    {
                    "value": "nut_free",
                    "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__24.label"
                    },
                    {
                    "value": "pants",
                    "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__25.label"
                    },
                    {
                    "value": "paw_print",
                    "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__26.label"
                    },
                    {
                    "value": "pepper",
                    "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__27.label"
                    },
                    {
                    "value": "perfume",
                    "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__28.label"
                    },
                    {
                    "value": "plane",
                    "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__29.label"
                    },
                    {
                    "value": "plant",
                    "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__30.label"
                    },
                    {
                    "value": "price_tag",
                    "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__31.label"
                    },
                    {
                    "value": "question_mark",
                    "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__32.label"
                    },
                    {
                    "value": "recycle",
                    "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__33.label"
                    },
                    {
                    "value": "return",
                    "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__34.label"
                    },
                    {
                    "value": "ruler",
                    "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__35.label"
                    },
                    {
                    "value": "serving_dish",
                    "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__36.label"
                    },
                    {
                    "value": "shirt",
                    "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__37.label"
                    },
                    {
                    "value": "shoe",
                    "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__38.label"
                    },
                    {
                    "value": "silhouette",
                    "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__39.label"
                    },
                    {
                    "value": "snowflake",
                    "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__40.label"
                    },
                    {
                    "value": "star",
                    "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__41.label"
                    },
                    {
                    "value": "stopwatch",
                    "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__42.label"
                    },
                    {
                    "value": "truck",
                    "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__43.label"
                    },
                    {
                    "value": "washing",
                    "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__44.label"
                    }
                ],
                "default": "check_mark",
                "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.label"
                },
                {
                    "type": "text",
                    "id": "heading",
                    "label": "Heading"
                },
                {
                    "type": "richtext",
                    "id": "text",
                    "label": "Text for mobile",
                    "default": "<p>Bei Gartencenter.de bestellen Sie Gartenpflanzen, Zimmerpflanzen, Bäume und mehr mit schneller Lieferung nach Hause.</p>"
                }
            ]
        },
        {
            "type": "desk_usp",
            "name": "Desktop page usp",
            "limit": 4,
            "settings": [
                {
                    "type": "text",
                    "id": "desk-usp",
                    "label": "Usp for desktop",
                    "info": "Checkmark is added automatically."
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Page usp's",
            "blocks": [
                {
                    "type": "mob_info"
                }
            ]
        }
    ]
}
{% endschema %}